@mixin bordeGris(){
    border: 1px solid gray;
}

@mixin bordeCeleste(){
    border-top: 5px solid #0097fa;
    border-radius: 5px;
}

@mixin textCenter(){
    text-align: center;
}


@mixin celular (){
    @media screen and (max-width: 992px){
        @content;
    }
}