
$colores: (
    "negro": black,
    "blanco": white, 
    "gris" : gray,
    "logo" : #0097fa,
);

$espaciado:(
    "xlarge" : 14rem,
    "large" : 3.12rem,
    "medium" : 3rem,
    "small" : 2rem,
    "xsmall" : 1rem,
);


$font-titillium: 'Titillium Web', sans-serif;