@import "./mixins";
@import "./variables";


body{
    font-family: $font-titillium;
}

h2{
    @include textCenter();
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 10px;

}

.iconos_footer{
   color: map-get($colores,"blanco")
}

p{
    @include textCenter();
    color: #999;
}

.card{
    margin: 55px;
}

.card-img-top{
    height: 300px;
    @include bordeGris();
    border-bottom: none;
}

.card-body{
    @include textCenter();
    background-color: rgba(0, 0, 0, 0.05);
    @include bordeGris();
    border-top: none;
}

.navbar{
    background-color: map-get($colores,"blanco");
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 60px;
}

.nav-link {
    color:map-get($colores,"negro");
}

.nav-logo{
    min-width: 190px;
    max-width: 200px;
    border-right: 1px solid black;
}

.navbar-toggler{
    font-size: 40px;
}


#realEstate{
    background-image: url(../assets/img/realEstate.webp);
    background-size: cover; 
    padding-top: 90px;
    min-height: 400px;
    color: map-get($colores,"blanco");
}


// @media screen and (max-width: 992px) {

//     .card-img-top{
//         height: 180px;
//     }

//     #alquiler-tres{
//         display: none;
//     }

//     #venta-tres{
//         display: none;
//     }

//     #logo-footer{
//         display: none;
//     }

//     #p_footer{
//         display: none;
//     }

//     #redes-sociales{
//         display: none;
//     }

//     #div-links{
//         margin-bottom: 30px;
//     }
// }

//APLICO MIXIN CON CONTENT PARA RESPONSIVE//

.card-img-top{
     @include celular(){
          height: 180px;
        }
}

.nav-logo{
    @include celular(){
        //  margin-left: 85px;
         border-right: none;
       }
}   

#alquiler-tres, #venta-tres, #logo-footer, #p_footer, #redes-sociales{
    @include celular(){
        display: none;
      }
}

#div-links{
    @include celular(){
        margin-bottom: 2rem;
    }
}

#realEstate{
    @include celular(){
        min-height: map-get($espaciado,"xlarge" );
    }
}

#barraNavegacion{
    @include celular(){
         justify-content: space-between;
       }
}   

.cartaAlquiler{
    @include celular(){
         margin: 1rem;
       }
}

.card-title{
    @include celular(){
         font-size: map-get($espaciado,"xsmall");
       }
}

